<%= turbo_frame_tag "detailed" do %>
  <div class="bg-blue-100 p-4 rounded-lg shadow-md mb-4">
    <p class="text-black font-semibold text-xl mb-2 block"><%= @task.title %></p>
    <span>Project: <%= link_to @task.project.title, project_path(@task.project), data: { turbo_frame: "_top" }, class: "text-blue-500 font-semibold text-xl mb-2 inline-block" %></span>
    <p class="text-black-700 mb-4">Description: <%= @task.description %></p>
    <p class="text-black-700 mb-4">Status: <%= @task.status %></p>
    <div class="flex flex-row space-x-2">
      <% Task.statuses.each_key do |name| %>
        <%= button_to name, task_path(@task, task: { status: name }), method: :patch, class: "btn bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" %>
      <% end %>
    </div>

  </div>
<% end %>
