<%= turbo_frame_tag project do %>
  <div class="project bg-blue-100 p-4 rounded-lg shadow-md mb-4">
    <%= link_to project.title, project_path(project), data: { turbo_frame: "_top" }, class: "text-blue-500 font-semibold text-xl mb-2 block" %>
    <p class="text-gray-700 mb-4">Description: <%= project.description %></p>
    <% user_ids = project.users_in_project %>
    <% users = User.where(id: user_ids) %>
    <p class="text-black-700 mb-4">Users_in_project: <%= users.pluck(:username).join(', ') %></p>

    <% if current_user && ((current_user.role == 'Moderator' || current_user.role == 'Admin') || current_user.id == project.creator_id) %>
      <div class="project__actions flex flex-row space-x-2">
        <%= link_to "Edit", edit_project_path(project), class: "btn btn-light mr-2 py-2 px-4 rounded-lg text-blue-500 font-semibold hover:bg-blue-200 transition duration-300 ease-in-out" %>
        <%= button_to "Delete", project_path(project), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class: "btn btn-light py-2 px-4 rounded-lg text-red-500 font-semibold hover:bg-red-200 transition duration-300 ease-in-out" %>
      </div>
    <% end %>
  </div>
<% end %>