<!DOCTYPE html>
<html>
  <head>
    <title>TaskManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-blue-50">

  <header class="bg-blue-500 p-4 flex justify-between items-center">
    <div>
      <h1 class="text-white text-2xl font-semibold">Task Manager</h1>
    </div>
    <nav class="space-x-4">
      <% if user_signed_in? %>
          <span class="text-white"><%= current_user.username %></span>
          <span class="text-white"><%= current_user.email %></span>
        <%= link_to "Log out", destroy_user_session_path,method: :delete, data: { 'turbo-method': :delete }, class: "text-white hover:underline" %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, class: "text-white hover:underline" %>
        <%= link_to "Log in", new_user_session_path, class: "text-white hover:underline" %>
      <% end %>
      <%= link_to "Project", projects_path, method: :get, data: {'turbo-method': :get}, class: "text-white hover:underline" %>
      <%= link_to "Tasks", tasks_path, method: :get, data: {'turbo-method': :get}, class: "text-white hover:underline" %>
    </nav>
  </header>

  <div id="flash" class="flash">
    <%= render "layouts/flash" %>
  </div>



    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
